extends layout 

block content 
	h3.
		Movies
	ul
		each movie, i in moviesList
			li#students_list_item
				a(href = "#") #{movie.movie} lives at 
				#{student.title), #{student.plot), #{student.genre), 
				,#{student.cast), #{student.release)